.ul-left-menu a.calendar {
    background: #f2f2f2;
    border-left: 3px solid #0b5ed7
}

.ul-left-menu a.calendar span,
.ul-left-menu a.calendar svg {
    color: #0b5ed7
}

.select2-container {
    width: 100%
}

.select2-selection__arrow {
    top: 4px !important
}

.select2-selection {
    height: 33px !important;
    padding-top: 2px;
}