.ul-left-menu a.topics {background: #f2f2f2; border-left: 3px solid #0b5ed7}
.ul-left-menu a.topics span, .ul-left-menu a.topics svg {color: #0b5ed7}
#dv-category {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px lightgray;
    margin: 5px 0px 15px 0px;
    padding: 15px
}

.dv-checkbox{
    align-items: center;
    display: inline-flex
}

.dv-checkbox label{
    margin-left: 6px;
}

table td:last-child svg {
    color: #0b5ed7
}

#dv-header-label {
    border-bottom: 1px solid #c0c0c0;
    font-weight: 600;
    margin-bottom: 22px;
    padding-bottom: 4px;
}

#modal-subcategory .col-buttons {
    margin-top: 2px
}

#dv-publish {
    display: none;
}