.ul-left-menu a.community {background: #f2f2f2; border-left: 3px solid #0b5ed7}
.ul-left-menu a.community span, .ul-left-meny a.community svg{color: #0b5ed7}

.dv-base.row {
    justify-content: center;
}

#dv-community{display: none;}
#tbl-community-users {margin-top: 14px !important; width: 100%}
#tbl-community-users tbody tr:first-child {border-top: 1px solid #c0c0c0;}
#tbl-community-users tr:not(:last-child) {border-bottom: 1px solid #c0c0c0}
#tbl-community-users th {color: #a6a6a6; font-size: 11px; padding: 8px 0px; width: 50%;}
#tbl-community-users tr th:first-child {padding-left: 20px;}
#tbl-community-users td {padding: 12px 0px}
#tbl-community-users tr td:first-child{padding-left: 20px}
#tbl-community-users tr td:nth-child(2){color: #a6a6a6; font-size: 12px;}
#tbl-community-users img {width: 10%}
#tbl-community-users span.username {font-size: 12px; margin-left: 5px;}
#dv-header-label {border-bottom: 2px solid #7fbf7f; padding-bottom: 4px}
#lbl-date { font-size: 11px; font-weight: bold; margin-top: 11px;}
#dv-dates {margin: 13px -20px; border-bottom: 1px solid #c0c0c0; display: none; padding-bottom: 12px}
#dv-dates > div {text-align: center; font-size: 11px;}
#dv-dates > div span:first-child {color: #7aa3cc}
#dv-questions {margin-top: 17px}
.dv-question { 
    border-radius: 2px; 
    box-shadow: 0px 0px 2px 1px lightgray;  
    margin-bottom: 15px;
    padding: 11px
}
.question {font-size: 11.8px;}
.spn-question {
    color: #7aa3cc; 
    text-align: right;
}
.pending {
    color: #7aa3cc;
    font-weight: bold;
}
.approved {
    color: #7fbf7f;
    font-weight: bold;
}
.rejected{
    color: red; 
    font-weight: bold;
}

.col-btns {text-align: right;}
.col-btns a{cursor: pointer;}
.user-info {align-items: flex-end;  line-height: 18px; margin-top: 11px}
.user-info a {
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    min-width: 8vh;
    padding: 1px 3px;
    text-align: center;
    text-decoration: none; 
}
.user-info a.btn-approve {background-color: #7fbf7f; margin-right: 4px;}
.user-info a.btn-reject {background-color: red;}
.lbl-posted {color: #a6a6a6;font-size: 11px}
.spn-username {color: #848484; margin-right: 14px;}
.dv-user-info {font-size: 11px;}
.dv-user-info div:nth-child(2) {align-items: center; display: inline-flex;}
.img-user {margin-right: 6px; width: 7%}
#dv-show-more {  
    text-align: center; 
    width: 100%;
}
#dv-show-more a{
    color: #7aa3cc;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.modal-body .btn {
    min-width: 73px;
}
.modal-body .select2-container{
    width: 100% !important;
}

.modal-body .btn-col {
    margin: 0px;
}