#dv-subcategory {
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px lightgray;
    margin: 5px 0px 15px 0px;
    padding: 15px;
}

#col-buttons {
    align-items: flex-end;
    display: inline-flex;
    margin-bottom: 1rem;
}

#col-buttons div {
    margin-top: 15px;
}

#dv-header-label {
    border-bottom: 1px solid #c0c0c0;
    font-weight: 600;
    margin-bottom: 22px;
    padding-bottom: 4px;
}

#tbl-topics td a {
    cursor: pointer;
}

#tbl-topics tr td:last-child svg {
    color: #0b5ed7
}

#tbl-topics tr td:last-child div {
    display: flex;
    justify-content: space-evenly;
}

#modal-add-topic iframe, #modal-edit-topic iframe {
    height: 210px;
    width: 100%;
}

#iframe-video {
    display: none;
    width: 100%
}

input[name="video"], #thumbnail {
    margin-top: 10px;
    width: 100%
}

#img-thumbnail {
    display: none;
    height: 100px;
    margin-top: 7px;
    width: 100px;
}

#form-edit-topic #img-thumbnail {
    display: none;
}

.modal #dv-loader {
    align-items: center;
    display: none;
    left: 44%;
    position: absolute;
    top: 22.5%;
}

.modal #dv-loader span {
    color: #4c4c4c;
    font-size: 12.5px;
    font-weight: 600;
    margin-left: 10px
}

.modal .fa-spinner {
    color: #0b5ed7;
    font-size: 31px;
}

#modal-delete-topic .fa-spinner {
    color: #0b5ed7;
    display: none;
    font-size: 27px;
    left: 43%;
    position: absolute;
    top: 53px
}

#modal-delete-topic #spn-topic {
    font-weight: bold;
}

#introduction_text {
    height: 80px;
    resize: none;
}