.ul-left-menu a.fuel {background: #f2f2f2; border-left: 3px solid #0b5ed7; font-weight: 600;}
.ul-left-menu a.fuel span,
.ul-left-menu a.fuel svg {
    color: #0b5ed7
}

#dv-statistics {
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 100%;
}

#dv-statistics .row .col-md-3 {
    padding: 15px;
}

#dv-statistics .row .col-md-3:not(:last-child) {
    border-right: 1px solid lightgray;
}